td {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  text-align: right;
}

a,
a:focus {
  outline: 0;
}

.navbar-header {
  background-color: #222; /*FIXME: use bootstrap's style*/
}

.navbar-toggle {
  float: left;
  margin-left: 15px; /*FIXME: same as original margin-right*/
  margin-right: 0;
}

.navbar-form {
  background-color: rgba(32,32,32,.6); /*FIXME: use bootstrap's style*/
  margin-bottom: 0em; /*FIXME: configurable in bootstrap?*/
}

.brand {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.55556em; /*28px*/
  color: white;
}

.brand-my {
  color: #f66;
}

.btn-navbar {
  font-size: 18px; /*FIXME: same as navbar-brand*/
}

.well {
  margin-bottom: 10px;
  margin-top: 10px;
}

.hidable {
  opacity: 1;
  filter: alpha(opacity=100); /* for IE <= 8 */
  max-height: 15em;
  overflow: hidden;
  transition: all 1s linear;
}

.hidable.ng-hide {
  opacity: 0;
  filter: alpha(opacity=0); /* for IE <= 8 */
  max-height: 0em;
}

.filter-group {
  /* centered: */
  margin-left: auto;
  margin-right: auto;
}

.more-button {
  text-align: center;
}

.github {
  color: #9d9d9d; /*FIXME: use bootstrap's style*/
}

.ui.checkbox {
  display: block;
  margin: 0em;
}

.map-label {
  background-color: white;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  transition: opacity 1s;
}

.tag-desc {
  display: block;
  max-height: 1em; /*14px*/
  max-width: 1em; /*14px*/
}

.map-marker-default {
  color: #ccc;
}

.map-marker-great {
  color: #f55;
}

.map-marker-outdoor {
  color: #6aa;
}

.map-marker-not-aure {
  color: #fb5;
}

.map {
  position: absolute;
  top: 50px; /*FIXME: calculate based on navbar-header*/
  bottom: 1.3em; /*FIXME: calculate based on footer*/
  left: 0em;
  right: 0em;
}

.infowindow-title {
  font-weight: bold;
}

.infowindow-address,
.infowindow-comment {
  /* On Chromium 48, text is sometimes invisible when italic.
  font-style: italic;*/
  color: #555;
}

.infowindow-closed {
  font-weight: bold;
  color: red;
}

.infowindow-open {
  font-weight: bold;
  color: green;
}

.status-label {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1031; /*FIXME: should be based on bootstrap's navbar's z-index*/
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222; /*FIXME: use bootstrap's style*/
  text-align: center;
  height: 1.53846em; /*20px*/
  font-size: 0.92857em; /*13px*/
  z-index: 10; /*FIXME: to be above semantic UI checkboxes using 1 and 2*/
}

a.footer,
a.footer:hover {
  color: #9d9d9d; /*FIXME: use bootstrap's style*/
  text-decoration: none;
}

i.footer {
  font-size: 0.8em;
}

.credits {
  max-width: 20em;
}
