html {
  overflow: hidden;
}

td {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  text-align: right;
}

a,
a:focus {
  outline: 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px; /*FIXME: same as original margin-right*/
  margin-right: 0;
}

.navbar-form {
  margin-bottom: 0px; /*FIXME: configurable in bootstrap?*/
}

.brand {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  color: white;
}

.brand-my {
  color: #f66;
}

.btn-navbar {
  font-size: 18px; /*FIXME: same as navbar-brand*/
}

.settings {
  margin-top: -13px; /*FIXME*/
  margin-left: 1em;
}

.github {
  color: #9d9d9d; /*FIXME: use bootstrap's style*/
}

.ui.checkbox {
  display: block;
  margin: 0px;
}

.map-label {
  background-color: white;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  transition: opacity 1s;
}

.tag-desc {
  display: block;
  max-height: 14px;
  max-width: 14px;
}

.map-marker-default {
  color: #ccc;
}

.map-marker-great {
  color: #f55;
}

.map-marker-outdoor {
  color: #6aa;
}

.map-marker-todiscover {
  color: #fb5;
}

.map {
  position: absolute;
  top: 50px; /*FIXME: calculate based on navbar-header*/
  bottom: 1.3em; /*FIXME: calculate based on footer*/
  left: 0px;
  right: 0px;
}

.infowindow-title {
  font-weight: bold;
}

.infowindow-address,
.infowindow-comment {
  /* On Chromium 48, text is sometimes invisible when italic.
  font-style: italic;*/
  color: #555;
}

.infowindow-closed {
  font-weight: bold;
  color: red;
}

.infowindow-open {
  font-weight: bold;
  color: green;
}

.status-label {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1031; /*FIXME: should be based on bootstrap's navbar's z-index*/
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222222; /*FIXME: use bootstrap's style*/
  text-align: center;
  height: 1.5em;
}

a.footer,
a.footer:hover {
  color: #9d9d9d; /*FIXME: use bootstrap's style*/
  font-size: small;
  text-decoration: none;
}

i.footer {
  font-size: 80%;
}

.credits {
  max-width: 20em;
}
