<div class="container-fluid">
  <div data-ng-hide="state.isMarkerListComplete" class="loading-marker-list">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>

  <!-- FIXME: order alphabetically using the `| toArray | orderBy ...` filter described here:
              https://github.com/angular/angular.js/issues/1286 -->
  <div data-ng-repeat="marker in state.markers">
    <!-- We can't use 'button' instead of 'span' because on Firefox, elements within a disabled
         button can't be clicked: -->
    <span class="btn btn-default btn-marker-list" data-ng-disabled="!marker.isVisible()"
          data-ng-click="marker.isVisible() && list.onMarkerClick(marker)">
      <table>
        <tr>
          <td>
            <span class="glyphicon glyphicon-map-marker btn-marker-list-main-item"
                  aria-hidden="true"></span>
          </td>
          <td>
            <span class="btn-marker-list-main-item">{{ marker.title }}</span>
            <a href="" data-ng-if="!marker.isVisible() && !list.showsAllTags(marker)"
               data-ng-click="state.markersShowingAllTags.push(marker.id)">...</a>
            <span data-ng-if="list.showsAllTags(marker)" data-ng-repeat="tag in marker.tagKeys"
                  class="btn-marker-list-tag">
              <span data-ng-hide="$first">&middot;</span>
              <span data-ng-class="tagCssClass(tag)" data-ng-click="select(tag)">
                <i class="fa fa-square-o" data-ng-if="!(marker.isVisible() || isSelected(tag))"></i>
                #{{ tag }}</span>
            </span>
          </td>
        </tr>
      </table>
    </span>
  </div>
</div>
