<div class="container-fluid">
  <div data-ng-hide="state.isMarkerListComplete" class="loading-marker-list">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>

  <!-- FIXME: order alphabetically using the `| toArray | orderBy ...` filter described here:
              https://github.com/angular/angular.js/issues/1286 -->
  <div data-ng-repeat="marker in state.markers">
    <button class="btn btn-default btn-marker-list" data-ng-disabled="!marker.isVisible()"
            data-ng-click="list.onMarkerClick(marker)">
      <table>
        <tr>
          <td>
            <span class="glyphicon glyphicon-map-marker btn-marker-list-main-item"
                  aria-hidden="true"></span>
          </td>
          <td>
            <span class="btn-marker-list-main-item">{{ marker.getTitle() }}</span>
            <span data-ng-repeat="tag in marker.tagKeys" class="btn-marker-list-tag">
              <span data-ng-hide="$first">&middot;</span>
              <!-- FIXME: I shouldn't be doing the 2-way data binding myself: -->
              <input type="checkbox" data-ng-hide="isSelected(tag) || marker.isVisible()"
                     data-ng-checked="isSelected(tag)" data-ng-click="select(tag)"/>
              <span data-ng-class="tagCssClass(tag)">#{{ tag }}</span>
            </span>
          </td>
        </tr>
      </table>
    </button>
  </div>
</div>
