<div class="info info-pic hidden-xs"><!-- no pic yet --></div>
<div class="info info-title">
  <h4>{{ state.marker.getTitle() }}</h4>
  <table data-ng-hide="!state.marker.getComment()">
    <tr>
      <td class="info-comment">//</td>
      <td class="info-comment">{{ state.marker.getComment() }}</td>
    </tr>
  </table>
</div>
<div data-ng-hide="!state.marker.getOpenness()"
     class="info info-openness info-{{ info.getOpennessClass() }}">
  {{ info.getHumanReadableOpenness() }}.
</div>
<div data-ng-hide="!state.marker.getWebsite() && !state.marker.getGMapsUrl()" class="info">
  <a data-ng-hide="!state.marker.getWebsite()" class="btn-bar" target="_blank" title="Website"
     href="{{ state.marker.getWebsite() }}"><i class="fa fa-{{ info.getWebsiteIcon() }} fa-2x"></i></a>
  <a data-ng-hide="!state.marker.getGMapsUrl()" class="btn-bar" target="_blank" title="Google Maps"
     href="{{ state.marker.getGMapsUrl() }}"><img class="img-2x" src="assets/pics/gmaps_logo.png" /></a>
</div>
<div data-ng-hide="!state.marker.getAddress()" class="info info-address">
  {{ state.marker.getAddress() }}
</div>
<div class="info info-tags">
  <!-- FIXME: we can't use the `hidable` class here. Otherwise when switching between markers, the
              previous tags remain shown for a second. -->
  <span data-ng-repeat="tag in state.marker.tagKeys" data-ng-show="info.isTagVisible(tag)">
    <a data-ng-click="info.onTagClick()" href="">#{{ tag }}</a>&nbsp;
  </span>
  <a href="" class="info-control" data-ng-hide="state.showAllTags"
     data-ng-click="state.showAllTags = true">...</a>
</div>
