<div class="container-fluid">
  <div data-ng-hide="state.isMarkerListComplete" class="loading-marker-list">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>

  <!-- FIXME: order alphabetically using the `| toArray | orderBy ...` filter described here:
              https://github.com/angular/angular.js/issues/1286 -->
  <div data-ng-repeat="marker in state.markers">
    <!-- We can't use 'button' instead of 'span' because on Firefox, checkboxes inside buttons can't
         be toggled.: -->
    <span class="btn btn-default btn-marker-list" data-ng-disabled="!marker.isVisible()"
          data-ng-click="marker.isVisible() && list.onMarkerClick(marker)">
      <table>
        <tr>
          <td>
            <span class="glyphicon glyphicon-map-marker btn-marker-list-main-item"
                  aria-hidden="true"></span>
          </td>
          <td>
            <span class="btn-marker-list-main-item">{{ marker.getTitle() }}</span>
            <span data-ng-repeat="tag in marker.tagKeys" class="btn-marker-list-tag">
              <span data-ng-hide="$first">&middot;</span>
              <!-- FIXME: I shouldn't be doing the 2-way data binding myself: -->
              <label data-ng-click="select(tag)">
                <input type="checkbox" data-ng-hide="isSelected(tag) || marker.isVisible()"
                       data-ng-checked="isSelected(tag)"/>
                <span data-ng-class="tagCssClass(tag)">#{{ tag }}</span>
              </label>
            </span>
          </td>
        </tr>
      </table>
    </span>
  </div>
</div>
